@model ErrorVM

@if (Model != null)
{
    if (Model.Status == ErrorStatus.Success)
    {
        <div class='alert alert-success @(Model.Dismissible ? "alert-dismissible" : "")'>
            @if (Model.Dismissible)
            {
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            }
            <h5>
                <i class="icon fas fa-check"></i> @Model.Title!
            </h5>
            @Html.Raw(Model.Description)
        </div>
    }
    else if (Model.Status == ErrorStatus.Warning)
    {
        <div class='alert alert-warning @(Model.Dismissible ? "alert-dismissible" : "")'>
            @if (Model.Dismissible)
            {
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            }
            <h5>
                <i class="icon fas fa-exclamation-triangle"></i> @Model.Title!
            </h5>
            @Html.Raw(Model.Description)
        </div>
    }
    else if (Model.Status == ErrorStatus.Info)
    {
        <div class='alert alert-info @(Model.Dismissible ? "alert-dismissible" : "")'>
            @if (Model.Dismissible)
            {
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            }
            <h5>
                <i class="icon fas fa-info"></i> @Model.Title!
            </h5>
            @Html.Raw(Model.Description)
        </div>
    }
    else if (Model.Status == ErrorStatus.Error)
    {
        <div class='alert alert-danger @(Model.Dismissible ? "alert-dismissible" : "")'>
            @if (Model.Dismissible)
            {
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            }
            <h5>
                <i class="icon fas fa-ban"></i> @Model.Title!
            </h5>
            @Html.Raw(Model.Description)
        </div>
    }
}
