@using HRMS.Data.Core
@using System.Security.Claims
@{
    string page = (string)this.ViewContext.RouteData.Values["page"];
    ApplicationUser user = (ApplicationUser)ViewData["InternalUser"];
}

<div class="card card-primary card-outline">
    <div class="card-body box-profile">
        <div class="text-center">
            <img
                src='@Url.Content(user.ProfileImage ?? "~/images/user-default.png")'
                class="profile-user-img img-fluid img-circle"
                alt="User profile picture"
                style="cursor: pointer; object-fit: cover; height: 100px;">
        </div>
        <h3 class="profile-username text-center">@user.FirstName @user.LastName</h3>
        <p class="text-muted text-center">@User.FindFirstValue(ClaimTypes.Role)</p>

        <div class="py-9">
            <div class="d-flex align-items-center justify-content-between mb-2">
                <span class="mr-2"><b>@Resource.Email:</b></span>
                <a href="#" class="text-muted float-right">@user.Email</a>
            </div>
            <div class="d-flex align-items-center justify-content-between mb-2">
                <span class="mr-2"><b>@Resource.PhoneNumber:</b></span>
                <a href="#" class="text-muted float-right">+@(user.PhoneNumber ?? "///")</a>
            </div>
        </div>

        <ul class="list-group list-group-unbordered mb-3">
            <li class="list-group-item">
                <a href="/Identity/Account/Manage/Index" class='btn btn-block @(page == "/Account/Manage/Index" ? "btn-primary" : "btn-outline-primary")'>@Resource.PersonalData</a>
            </li>
            <li class="list-group-item">
                <a href="/Identity/Account/Manage/Account" class='btn btn-block @(page == "/Account/Manage/Account" ? "btn-primary" : "btn-outline-primary")'>@Resource.AccountData</a>
            </li>
            <li class="list-group-item">
                <a href="/Identity/Account/Manage/ChangePassword" class='btn btn-block @(page == "/Account/Manage/ChangePassword" ? "btn-primary" : "btn-outline-primary")'>@Resource.UpdatePassword</a>
            </li>
            <li class="list-group-item border-bottom-0">
                <a href="/Identity/Account/Manage/Notifications" class='btn btn-block @(page == "/Account/Manage/Notifications" ? "btn-primary" : "btn-outline-primary")'>@Resource.Notifications</a>
            </li>
        </ul>
    </div>
</div>
