@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = Resource.ForgotPassword;
    Layout = "_Layout";
    ErrorVM error = TempData.Get<ErrorVM>("ErrorI");
}

<form method="post" id="frm_Forgot_Password">
    <div class="card-body">
        <p class="auth-subtitle mb-2" style="font-size:1rem !important;">@Resource.InputEmailToResetPassword</p>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <partial name="_StatusMessage" model="error" />
        @Html.AntiForgeryToken()

        <div class="input-group mb-3">
            <input asp-for="Input.Email" type="text" class="form-control" placeholder="Email">
            <div class="input-group-append"><div clas="input-group-text"><span class="fas fa-envelope"></span></div></div>
        </div>
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>

    <div class="card-footer">
        <div class="social-auth-links text-center mt-2 mb-3">
            <button type="submit" id="btn_SubmitLogin" data-action="Login" data-callback="onSubmitForm" class="btn btn-block btn-primary">
                <span class="btn-text">
                    @Resource.SendEmail
                </span>
                <span class="btn-spinner d-none">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    @Resource.PleaseWait
                </span>
            </button>
        </div>
        <div class="text-center mt-5 text-md fs-4" style="font-size:1rem !important;">
            <p class="m-0"><a class="font-bold" href="/Identity/Account/Login">@Resource.LoginInstead</a></p>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
