@page
@model ResetPasswordModel
@{
    ViewData["Title"] = Resource.ResetPassword;
    Layout = "_Layout";
}

<form method="post" id="frm_Reset_Password">
    <div class="modal-body">
        <p class="auth-subtitle mb-2" style="font-size:1rem !important;">@Resource.ResetPassword</p>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Input.Code" type="hidden" />
        @Html.AntiForgeryToken()

        <div class="input-group mb-3">
            <input asp-for="Input.Email" type="text" class="form-control" placeholder="@Resource.Email">
            <div class="input-group-append"><div clas="input-group-text"><span class="fas fa-envelope"></span></div></div>
        </div>
        <span asp-validation-for="Input.Email" class="text-danger"></span>

        <div class="input-group mb-3">
            <input asp-for="Input.Password" type="password" class="form-control form-control" placeholder="@Resource.Password">
            <div class="input-group-append"><div clas="input-group-text"><span class="fas fa-lock"></span></div></div>
        </div>
        <span asp-validation-for="Input.Password" class="text-danger"></span>

        <div class="input-group mb-3">
            <input asp-for="Input.ConfirmPassword" type="password" class="form-control form-control" placeholder="@Resource.ConfirmPassword">
            <div class="input-group-append"><div clas="input-group-text"><span class="fas fa-lock"></span></div></div>
        </div>
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>

    <div class="modal-footer">
        <div class="social-auth-links text-center mt-2 mb-3">
            <button type="submit" id="btn_SubmitLogin" data-action="Login" data-callback="onSubmitForm" class="btn btn-block btn-primary">
                <span class="btn-text">
                    @Resource.Reset
                </span>
                <span class="btn-spinner d-none">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    @Resource.PleaseWait
                </span>
            </button>
        </div>
        <div class="text-center mt-5 text-md fs-4" style="font-size:1rem !important;">
            <p class="m-0"><a class="font-bold" href="/Identity/Account/Login">@Resource.LoginInstead</a></p>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
