@{
    string action = (string)this.ViewContext.RouteData.Values["action"];
}

<div class="bs-stepper-header" role="tablist">
    <div class='step @(action == "Index" ? "active" : "")' data-target="#register_form">
        <a id="tab1">
            <button type="button" class="step-trigger" role="tab" aria-controls="register_form" id="trigger_register_form" aria-selected='@(action == "Register" ? true : false)'>
                <span id="icon_register" class="bs-stepper-circle"><span class="fas fa-file-invoice" aria-hidden="true"></span></span>
                <span class="bs-stepper-label">1. @Resource.QuestionnaireData</span>
            </button>
        </a>
    </div>
    <div class="bs-stepper-line"></div>
    <div class='step @(action == "Questions" ? "active" : "")' data-target="#questions_form">
        <a id="tab2">
            <button type="button" class="step-trigger" role="tab" aria-controls="questions_form" id="trigger_questions_form" aria-selected='@(action == "Qualification" ? true : false)'>
                <span id="icon_questions" class="bs-stepper-circle"><span class="fab fa-question-circle" aria-hidden="true"></span></span>
                <span class="bs-stepper-label">2. @Resource.Questions</span>
            </button>
        </a>
    </div>
    <div class="bs-stepper-line"></div>
    <div class='step @(action == "Documents" ? "active" : "")' data-target="#documents_form">
        <a id="tab3">
            <button type="button" class="step-trigger" role="tab" aria-controls="documents_form" id="trigger_documents_form" aria-selected='@(action == "Documents" ? true : false)'>
                <span id="icon_documents" class="bs-stepper-circle"><span class="fas fa-file-alt" aria-hidden="true"></span></span>
                <span class="bs-stepper-label">3. @Resource.Documents</span>
            </button>
        </a>
    </div>
</div>
<div class="progress">
    <div class="progress-bar bg-primary progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style='width: @CalculatePercentage(action)%'>
        <span class="sr-only">@CalculatePercentage(action)% @Resource.Complete</span>
    </div>
</div>

@functions {
    private int CalculatePercentage(string action) =>
        action switch
        {
            "Index" => (int)(100 / 3),
            "Questions" => (int)(100 / (1.5)),
            _ => 100
        };
}