@using HRMS.Models.Application
@model LogSearch
@inject IDDLRepository repo
@{
    UserModel user = (UserModel)ViewData["User"];
    ViewData["Title"] = Resource.ApplicationLogs;
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">@Resource.SearchParameters</h3>
    </div>
    <div class="card-body">
        <form asp-action="SearchLogs" asp-controller="Application" id="frm_search_logs" method="post" data-ajax="true" data-ajax-method="post" data-ajax-success="success_search">
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-3 form-group">
                    <label asp-for="Role">@Resource.Role</label>
                    <select asp-for="Role" asp-items="await repo.Roles(user.Language)" class="form-control select2">
                        <option value="">@Resource.Choose</option>
                    </select>
                </div>
                <div class="col-3 form-group">
                    <label asp-for="User">@Resource.User</label>
                    <select asp-for="User" class="form-control"></select>
                </div>
                <div class="col-3 form-group">
                    <label asp-for="Date">@Resource.Date</label>
                    <input asp-for="Date" type="text" class="form-control" />
                </div>
                <div class="col-3 form-group">
                    <label asp-for="Ip">@Resource.Ip</label>
                    <input asp-for="Ip" type="text" class="form-control" />
                </div>
                <div class="col-3 form-group">
                    <label asp-for="Controller">@Resource.Controller</label>
                    <input asp-for="Controller" type="text" class="form-control" />
                </div>
                <div class="col-3 form-group">
                    <label asp-for="Action">@Resource.Action</label>
                    <input asp-for="Action" type="text" class="form-control" />
                </div>
                <div class="col-3 form-group">
                    <label asp-for="HttpMethod">@Resource.HttpMethod</label>
                    <input asp-for="HttpMethod" type="text" class="form-control" />
                </div>
                <div class="col-3 form-group">
                    <label asp-for="Error">@Resource.IsError</label><br />
                    <input asp-for="Error" type="checkbox" data-switch="true" style="cursor: pointer; width: 90px;" data-bootstrap-switch data-off-color="danger" data-on-color="success" data-off-text="@Resource.No" data-on-text="@Resource.Yes" width="150px"/>
                </div>
                <div class="col-3 form-group">
                    <input type="submit" class="btn btn-primary" value="@Resource.Search"/>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h4 class="card-title mb-0">@Resource.SearchResult</h4>
    </div>
    <div class="card-body">
        <table id="tbl_logs" class="table table-striped table-bordered w-100 table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>@Resource.Ip</th>
                    <th>@Resource.Controller</th>
                    <th>@Resource.Action</th>
                    <th>@Resource.Description</th>
                    <th>@Resource.Username</th>
                    <th>@Resource.HttpMethod</th>
                    <th>@Resource.InsertedDate</th>
                    <th>@Resource.FormContent</th>
                    <th>@Resource.Exception</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function() {
            var form = $('#frm_search_logs');
            form.removeData('validator');
            form.removeData('unobtrusiveValidation');
            $.validator.unobtrusive.parse(form);

            $("input[data-bootstrap-switch]").bootstrapSwitch();

            $(".select2").select2({
                width: "100%",
                language: {
                    noResults: function () {
                        return '@Html.Raw(Resource.NoResultsFound)';
                    },
                }
            });

            change_users();

            $('#Date').daterangepicker({
                locale: {
                    format: "DD/MM/YYYY H:mm",
                    seperator: " - ",
                    applyLabel: "@Resource.Continue",
                    cancelLabel: "@Resource.Cancel",
                    fromLabel: "@Resource.From",
                    toLabel: "@Resource.To",
                    timePicker: true,
                    timePicker24Hour: true,
                    timePickerIncrement: 30,
                    customRangeLabel: "@Resource.OtherDate",
                    weekLabel: "@Resource.WeekLetter",
                    daysOfWeek: [
                        "@Resource.SundayLetter",
                        "@Resource.MondayLetter",
                        "@Resource.TuesdayLetter",
                        "@Resource.WednesdayLetter",
                        "@Resource.ThursdayLetter",
                        "@Resource.FridayLetter",
                        "@Resource.SaturdayLetter"
                    ],
                    monthNames: [
                        "@Resource.January",
                        "@Resource.February",
                        "@Resource.March",
                        "@Resource.April",
                        "@Resource.May",
                        "@Resource.June",
                        "@Resource.July",
                        "@Resource.August",
                        "@Resource.September",
                        "@Resource.October",
                        "@Resource.November",
                        "@Resource.December"
                    ],
                    firstDay: 1
                },
                buttonClasses: 'btn',
                applyClass: 'btn-primary',
                cancelClass: 'btn-secondary',
                ranges: {
                    '@Resource.Today': [moment(), moment()],
                    '@Resource.Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    '@Resource.Last7Days': [moment().subtract(6, 'days'), moment()],
                    '@Resource.Last30Days': [moment().subtract(29, 'days'), moment()],
                    '@Resource.ThisMonth': [moment().startOf('month'), moment().endOf('month')],
                    '@Resource.LastMonth': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }, function (start, end, label) {
                    $('#Date .form-control').val(start.format("DD/MM/YYYY H:mm") + ' / ' + end.format('DD/MM/YYYY H:mm'))
                    $('#Date').val(start.format('DD/MM/YYYY H:mm') + ' / ' + end.format('DD/MM/YYYY H:mm'));
                }
            });

            form.submit();
        });

        function change_users() {
            $('#User').select2({
                width: "100%",
                allowClear: true,
                language: {
                    noResults: function () {
                        return '@Html.Raw(Resource.NoResultsFound)';
                    },
                    searching: function() {
                        return '@Html.Raw(Resource.Searching)';
                    },
                },
                ajax: {
                    url: '@Url.Action("AspUsers")',
                    type: 'post',
                    datatype: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            name: params.term,
                            role: $("#Role").val(),
                            __RequestVerificationToken: $("[name='__RequestVerificationToken']").val()
                        };
                    },
                    processResults: function (response) {
                        console.log(response);
                        return {
                            results: response
                        };
                    },
                    catch: true
                },
                placeholder: '@Resource.Choose',
                templateResult: formatRepo,
                templateSelection: formatRepoSelection
            });
        }

        function formatRepo (repo) {
            if (repo.loading) {
                return repo.text;
            }

            var $container = $(
                '<span class="d-flex align-items-center">' + (repo.image == null ? ('<div class="symbol symbol-40 symbol-sm flex-shrink-0 mr-3"><span class="symbol-label font-size-h5 font-weight-boldest">' + repo.initials + '</span></div>') : ('<img src="../..' + repo.image +'" height="40" class="flag-icon circle rounded rounded-circle" style="object-fit: cover; width: 36px; margin-right: 10px;"/>')) + repo.text + '</span>'
            );
            return $container;
        }

        function formatRepoSelection (repo) {
            return repo.text;
        }

        function success_search(data) {
            var rowCount = 1;
            $('#tbl_logs').DataTable({
                destroy: true,
                language: {
                    url: `/Culture/DataTable/${culture}.json`
                },
                keys: true,
                responsive: true,
                pageLength: 20,
                data: data,
                columnDefs: [
                    { className: "w5 vertikal", targets: [0, 1, 6] },
                    { className: "w10 vertikal", targets: [2, 3] },
                    { className: "w15 vertikal", targets: [5] },
                    { className: "w20 vertikal", targets: [4, 6, 7] },
                ],
                order: [[ 0, 'asc' ]],
                columns: [
                    {
                        data: function (data, type, row, meta) {
                            rowCount++;
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    { "data": "ip" },
                    { "data": "controller" },
                    { "data": "action" },
                    {
                        data: function(row, type, set) {
                            var desc = '///';
                            if (row.description != null) {
                                if (row.description.length > 80) {
                                    desc = row.description.substring(0, 80) + '<span class="load-more" onclick="load_more(this)"><b>.. <a href="#' + rowCount + '">@Html.Raw(Resource.LookMore)</a></b></span><span class="d-none load-less-fst">' + row.description.substring(80) + '<span class="d-none load-less-snd" onclick="load_less(this)"><b> <a href="#' + rowCount + '">@Html.Raw(Resource.LookLess)</a></b></span></span>';
                                } else {
                                    desc = row.description ?? "///";
                                }
                            }
                            return desc;
                        }
                    },
                    {
                        data: function(row, type, set) {
                            if (row.username != null && row.username !== " ") {
                                return row.username;
                            } else {
                                return "///";
                            }
                        }
                    },
                    { "data": "httpMethod" },
                    {
                        data: function (row, type, set) {
                            var date = new Date(Date.parse(row.insertDate));
                            return `${date.getUTCDate()}/${date.getMonth() + 1}/${date.getFullYear()} - ${date.getHours()}:${date.getMinutes()}`;
                        }
                    },
                    { "data": "formContent" },
                    { "data": "exception" }
                ]
            });
        }

        function load_more(e) {
            $(e).parent().find('.load-less-fst').removeClass('d-none');
            $(e).parent().parent().find('.load-less-snd').removeClass('d-none');
            $(e).addClass('d-none');
        }

        function load_less(e) {
            $(e).addClass('d-none');
            $(e).parent().addClass('d-none');
            $(e).parent().parent().find('.load-more').removeClass('d-none');
        }
    </script>
}
