@using HRMS.Models.Staff.Department
@model DepartmentVM
@{
    var canCreate = User.HasClaim("21sdp", "c");
    var canAddSubject = User.HasClaim("21ssb", "c");
    var canEdit = User.HasClaim("21sdp", "e");
    var canDelete = User.HasClaim("21sdp", "d");
}

<div class="row mb-3">
    <div class="col-md-8">
        <h5 class="font-weight-bolder">@Resource.ListOfDepartments</h5>
    </div>
    <div class="col-md-4">
        <div class="justify-content-end">
            @if (canCreate)
            {
                <a onclick="add_department('@Model.StaffIde')" class="btn btn-primary float-right">@Resource.AddDepartment</a>
            }
        </div>
    </div>
</div>

<table id="tbl_profile_department" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>@Resource.Department</th>
            <th>@Resource.StaffType</th>
            <th>@Resource.JobType</th>
            <th>@Resource.BruttoSalary</th>
            <th>@Resource.StartDate</th>
            <th>@Resource.EndDate</th>
            @if (canAddSubject || canEdit || canDelete)
            {
                <th data-orderable="false">@Resource.Actions</th>
            }
        </tr>
    </thead>
    <tbody></tbody>
</table>

<script>
    $(document).ready(function() {
        render_department_tbl(@Json.Serialize(Model.Departments));
    });

    var canAddSubjectDEP = '@canAddSubject' == 'True' ? true : false;
    var canEditDEP = '@canEdit' == 'True' ? true : false;
    var canDeleteDEP = '@canDelete' == 'True' ? true : false;
    var canSeeDEP = canAddSubjectDEP || canEditDEP || canDeleteDEP;

    function render_department_tbl(data) {
        var rowCount = 1;
        $('#tbl_profile_department').DataTable({
            destroy: true,
            language: {
                url: `/Culture/DataTable/${culture}.json`
            },
            keys: true,
            responsive: true,
            pageLength: 15,
            data: data,
            deferRender: true,
            columnDefs: [
                { visible: canSeeDEP, targets: [7] },
                { className: "w5 vertikal", targets: [0, 7] },
                { className: "w10 vertikal", targets: [2, 3, 4] },
                { className: "w15 vertikal", targets: [1, 5, 6] }
            ],
            order: [[0, "asc"]],
            columns: [
                {
                    data: function (data, type, row, meta) {
                        return meta.row + meta.settings._iDisplayStart + 1;
                    }
                },
                { data: "department" },
                { data: "staffType" },
                { data: "jobType" },
                { data: "bruttoSalary" },
                {
                    data: function(row, type, set) {
                        var date = new Date(Date.parse(row.startDate));
                        return `${date.getUTCDate()}/${date.getMonth() + 1}/${date.getFullYear()}`;
                    }
                },
                {
                    data: function(row, type, set) {
                        var date = new Date(Date.parse(row.endDate));
                        return `${date.getUTCDate()}/${date.getMonth() + 1}/${date.getFullYear()}`;
                    }
                },
                {
                    data: function (row, type, set) {
                        var date_time_now = new Date();
                        var end_date = new Date(Date.parse(row.endDate));
                        var active = end_date >= date_time_now ? true : false;

                        var dropdown = '<div class="input-group-prepend">' +
                            '<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">@Resource.Actions</button>' +
                            '<div class="dropdown-menu" role="menu">';
                        if (row.isLecturer && canAddSubjectDEP) {
                            dropdown += '<button type="button" class="dropdown-item" onclick="add_subject(\'' + row.staffDepartmentIde + '\')"><span class="mr-1"><i class="fas fa-plus"></i></span><span class="p-1">@Resource.AddSubject</span></button>';
                        }

                        if (canEditDEP) {
                            dropdown += '<button type="button" class="dropdown-item" onclick="edit_department(\'' + row.staffDepartmentIde + '\')"><span class="mr-1"><i class="fas fa-pencil-alt"></i></span><span class="p-1">@Resource.Edit</span></button>';
                        }
                        if (active && canDeleteDEP) {
                            dropdown += '<button type="button" class="dropdown-item" onclick="delete_department(\'' + row.staffDepartmentIde + '\')"><span class="mr-1"><i class="fas fa-trash"></i></span><span class="p-1">@Resource.Delete</span></button>';
                        }
                        dropdown += '</div></div>';
                        return dropdown;
                    }
                }
            ]
        });
    }

    function load_more(e) {
        $(e).parent().find('.load-less-fst').removeClass('d-none');
        $(e).parent().parent().find('.load-less-snd').removeClass('d-none');
        $(e).addClass('d-none');
    }

    function load_less(e) {
        $(e).addClass('d-none');
        $(e).parent().addClass('d-none');
        $(e).parent().parent().find('.load-more').removeClass('d-none');
    }

    function add_department(ide) {
        $('#modal-lg').find('.modal-content').load('@Url.Action("_AddDepartment", "Staff")?ide=' + ide, function () {
            $('#modal-lg').modal('toggle');
        });
    }

    function edit_department(ide) {
        $('#modal-lg').find('.modal-content').load('@Url.Action("_EditDepartment", "Staff")?ide=' + ide, function () {
            $('#modal-lg').modal('toggle');
        });
    }

    function delete_department(ide) {
        Swal.fire({
            title: "@Html.Raw(Resource.AreYouSure)",
            text: "@Html.Raw(Resource.SureYouWantToDeleteDepartmentForStaff)",
            icon: "question",
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: "@Resource.Yes",
            cancelButtonText: "@Resource.No"
        }).then((result) => {
            if (result.value) {
                $.post('@Url.Action("DeleteDepartment", "Staff")', {
                    ide: ide,
                    __RequestVerificationToken: $("[name='__RequestVerificationToken']").val()
                    }, function (data) {
                        handle_success(data, SubmitPathType.RELOAD, "");
                });
            }
        });
    }
</script>
