@using HRMS.Models.Authorization
@model Search
@inject IDDLRepository repo
@{
    ViewData["Title"] = Resource.Authorization;
    UserModel user = (UserModel)ViewData["User"];
}

<style>
    .w-20 {
        width: 20%;
    }
</style>

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">@Resource.Authorizations</h3>
    </div>
    <div class="card-body">
        <form asp-action="Search" asp-controller="Configuration" method="post" id="frm_search_role" data-ajax="true" data-ajax-method="post" data-ajax-update="#kt_menu" role="form">
            <div class="row">
                <div class="col-md-4">
                    <label asp-for="Role" class="required">@Resource.Role</label><br />
                    <select asp-for="Role" asp-items="await repo.Roles(user.Language)" class="form-control select2">
                        <option value="">@Resource.Choose</option>
                    </select><br />
                    <span asp-validation-for="Role" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="Role" style="visibility: hidden;">Role</label><br />
                    <button id="btn_search" type="button" class="btn btn-primary">@Resource.Search</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="card card-primary card-outline card-outline-tabs d-none" id="kt_authorization">
    <div class="card-header p-0 border-bottom-0">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item"><a class="nav-link" role="tab" data-toggle="pill" onclick="menu_tab()" id="tab_menu" href="#kt_menu" data-toggle="tab">@Resource.AuthorizationsForMenus</a></li>
            <li class="nav-item"><a class="nav-link" role="tab" data-toggle="pill" onclick="auth_tab()" id="tab_apps" href="#kt_apps" data-toggle="tab">@Resource.AuthorizationsForActions</a></li>
        </ul>
        @* <h3 class="card-title">@Resource.AuthorizationsForMenus</h3> *@
    </div>
    <div class="card-body">
        <div class="tab-content">
            <div class="tab-pane" id="kt_menu">
            </div>
            <div class="tab-pane" id="kt_apps">
            </div>
        </div>
    </div>
</div>

@Html.AntiForgeryToken()

@section Scripts {
    <script>
        $(document).ready(function () {
            $(".select2").select2({
                width: "100%",
                language: {
                    noResults: function () {
                        return '@Html.Raw(Resource.NoResultsFound)';
                    },
                }
            });

            $.validator.setDefaults({ ingore: '' });
            var form = $('#frm_search_role');
            form.removeData('validator');
            form.removeData('unobtrusiveValidation');
            $.validator.unobtrusive.parse(form);

            $('#btn_search').on('click', function() {
                $('#kt_authorization').removeClass('d-none');
                if (sessionStorage.getItem("tab_auth") == null) {
                    $('#tab_menu').trigger("click");
                } else {
                    $('#' + sessionStorage.getItem("tab_auth")).trigger("click");
                }
            });
        });

        function menu_tab() {
            $("#kt_menu").load('@Url.Action("Search", "Authorization")', {
                Role: $('#Role').val(),
                "__RequestVerificationToken": $("[name='__RequestVerificationToken']").val()
                }, function() {
                    sessionStorage.setItem("tab_auth", "tab_menu");
            });
        }

        function auth_tab() {
            $("#kt_apps").load('@Url.Action("Rules", "Authorization")', {
                role: $('#Role').val()
                }, function() {
                    sessionStorage.setItem("tab_auth", "tab_apps");
            });
        }
    </script>
}
