@using HRMS.Models.Staff.Department
@model AddSubject
@inject IDDLRepository repo
@{
    UserModel user = (UserModel)ViewData["User"];
}

<div class="modal-header">
    <h5 class="modal-title">@Resource.AddSubject @Resource.For.ToLower() @Model.StaffName</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i aria-hidden="true" class="far fa-times-circle"></i>
    </button>
</div>

<form asp-action="AddSubject" asp-controller="Staff" id="frm_create_subject" method="post" data-ajax="true" data-ajax-method="post" data-ajax-success="success_create_subject" role="form">
    <div class="modal-body">
        @Html.AntiForgeryToken()
        <input asp-for="StaffDepartmentIde" type="hidden"/>
        <input asp-for="DepartmentEndDate" type="hidden"/>

        <div class="row pl-2 pr-2">
            <div class="col-md-6 form-group">
                <label asp-for="SubjectId" class="required"></label>
                <select asp-for="SubjectId" asp-items="await repo.Subjects(user.Language)" class="form-control select2">
                    <option value="">@Resource.Choose</option>
                </select>
                <span asp-validation-for="SubjectId" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group">
                <label asp-for="StartDate" class="required"></label>
                <input asp-for="StartDate" type="text" class="form-control datetimepicker-input" readonly autocomplete="off" data-toggle="datetimepicker" data-target="#StartDate"/>
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group">
                <label asp-for="EndDate" class="required"></label>
                <input asp-for="EndDate" type="text" class="form-control datetimepicker-input" readonly autocomplete="off" data-toggle="datetimepicker" data-target="#EndDate"/>
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-bold btn-pure btn-default" data-dismiss="modal">@Resource.Close</button>
        <button type="submit" class="btn btn-bold btn-pure btn-primary float-right">@Resource.Add</button>
    </div>
</form>

<script>
    $(document).ready(function() {
        $.validator.setDefaults({ ignore: '' });
        var form = $('#frm_create_subject');
        form.removeData('validator');
        form.removeData('unobtrusiveValidation');
        $.validator.unobtrusive.parse(form);

        $(".select2").select2({
            width: "100%",
            language: {
                noResults: function () {
                    return '@Html.Raw(Resource.NoResultsFound)';
                },
            }
        });

        $(".datetimepicker-input").datetimepicker({
            format: 'DD/MM/YYYY'
        });
    });

    function success_create_subject(data) {
        handle_success(data, SubmitPathType.RELOAD, "");
    }
</script>