@using HRMS.Models.Staff.Department
@model AddDepartment
@inject IDDLRepository repo
@{
    UserModel user = (UserModel)ViewData["User"];
}

<div class="modal-header">
    <h5 class="modal-title">@Resource.Edit</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i aria-hidden="true" class="far fa-times-circle"></i>
    </button>
</div>

<form asp-action="EditDepartment" asp-controller="Staff" id="frm_edit_department" method="post" data-ajax="true" data-ajax-method="post" data-ajax-success="success_edit_department" role="form">
    <div class="modal-body">
        @Html.AntiForgeryToken()
        <input asp-for="StaffDepartmentIde" type="hidden"/>

        <div class="row pl-2 pr-2">
            <div class="col-md-6 form-group">
                <label asp-for="DepartmentId" class="required"></label>
                <select asp-for="DepartmentId" asp-items="await repo.Departments(user.Language)" class="form-control select2">
                    <option value="">@Resource.Choose</option>
                </select>
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group">
                <label asp-for="StaffTypeId" class="required"></label>
                <select asp-for="StaffTypeId" asp-items="await repo.StaffTypes(user.Language)" class="form-control select2">
                    <option value="">@Resource.Choose</option>
                </select>
                <span asp-validation-for="StaffTypeId" class="text-danger"></span>
            </div>
        </div>
        <div class="row form-group pl-2 pr-2">
            <div class="col-md-6">
                <label asp-for="StartDate" class="required"></label>
                <input asp-for="StartDate" type="text" class="form-control datetimepicker-input" readonly autocomplete="off" data-toggle="datetimepicker" data-target="#StartDate"/>
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="EndDate" class="required"></label>
                <input asp-for="EndDate" type="text" class="form-control datetimepicker-input" readonly autocomplete="off" data-toggle="datetimepicker" data-target="#EndDate"/>
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
        </div>
        <div class="row form-group pl-2 pr-2 pt-2">
            <div class="col-md-12">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" type="text" rows="2" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-bold btn-pure btn-default" data-dismiss="modal">@Resource.Close</button>
        <button type="submit" class="btn btn-bold btn-pure btn-primary float-right">@Resource.Edit</button>
    </div>
</form>

<script>
    $(document).ready(function() {
        $.validator.setDefaults({ ignore: '' });
        var form = $('#frm_edit_department');
        form.removeData('validator');
        form.removeData('unobtrusiveValidation');
        $.validator.unobtrusive.parse(form);

        if (culture == 'sq-AL') {
            $('textarea').prop('spellcheck', false);
        } else {
            $('textarea').prop('spellcheck', true);
        }

        $(".select2").select2({
            width: "100%",
            language: {
                noResults: function () {
                    return '@Html.Raw(Resource.NoResultsFound)';
                },
            }
        });

        $(".datetimepicker-input").datetimepicker({
            format: 'DD/MM/YYYY'
        });
    });

    function change_active(e) {
        if($('#inp_active').is(":checked")) {
            $('#inp_active').removeAttr('checked');
        } else {
            $('#inp_active').attr('checked', true);
        }
    }

    function success_edit_department(data) {
        handle_success(data, SubmitPathType.RELOAD, "");
    }
</script>