@using HRMS.Models.Tables
@model IEnumerable<TableName>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">
            @Resource.Tables
        </h3>
    </div>
    <div class="card-body p-0">
        <ul class="nav nav-pills flex-column" role="tablist">
            @foreach (var table in Model)
            {
                <li class="nav-item">
                    <a id="@((int)table.Table)" onclick="load_table('@((int)table.Table)', '@table.Title')" class="nav-link" style="cursor: pointer;">
                        @table.Title
                    </a>
                </li>
            }
        </ul>
    </div>
</div>

<script>
    function load_table(tbl, title) {
        $('#kt_table_data').load('@Url.Action("_LookUpData", "Tables")', {
            table: tbl,
            title: title
        }, function() {
            if (sessionStorage.getItem('tbl_enum') != null) {
                $('#' + sessionStorage.getItem('tbl_enum')).removeClass('active');
            } else {
                $('#' + LookUpTable.DOCUMENT).removeClass('active');
            }

            sessionStorage.setItem('tbl_enum', tbl);
            sessionStorage.setItem("tbl_title", title);
            $('#' + sessionStorage.getItem('tbl_enum')).addClass('active');
        });

    }
</script>