@using HRMS.Models.Holiday
@model Create
@inject IDDLRepository repo
@{
    UserModel user = (UserModel)ViewData["User"];
}

<div class="modal-header">
    <h5 class="modal-title">@Resource.Edit</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i aria-hidden="true" class="far fa-times-circle"></i>
    </button>
</div>

<form asp-action="Edit" asp-controller="Holiday" id="frm_edit_holiday" method="post" data-ajax="true" data-ajax-method="post" data-ajax-success="success_edit" role="form">
    <div class="modal-body">
        @Html.AntiForgeryToken()
        <input asp-for="HolidayIde" type="hidden"/>

        <div class="row form-group">
            <div class="col-md-6">
                <label asp-for="AHolidayTypeId" class="required"></label>
                <select asp-for="AHolidayTypeId" asp-items="await repo.HolidayTypes(user.Language)" disabled class="form-control select2"></select>
                <span asp-validation-for="AHolidayTypeId" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="RemainingDays">@Resource.RemainingDays</label>
                <input asp-for="RemainingDays" type="text" disabled class="form-control"/>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-6">
                <label asp-for="StartDate" class="required"></label>
                <input asp-for="StartDate" type="text" readonly autocomplete="off" class="form-control datetimepicker-input" data-toggle="datetimepicker" data-target="#StartDate"/>
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="EndDate" class="required"></label>
                <input asp-for="EndDate" type="text" readonly autocomplete="off" class="form-control datetimepicker-input" data-toggle="datetimepicker" data-target="#EndDate"/>
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" rows="2" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-bold btn-pure btn-default" data-dismiss="modal">@Resource.Close</button>
        <button type="submit" class="btn btn-bold btn-pure btn-primary float-right">@Resource.Edit</button>
    </div>
</form>

<script>
    $(document).ready(function () {
        var form = $('#frm_edit_holiday');
        form.removeData('validator');
        form.removeData('unobtrusiveValidation');
        $.validator.unobtrusive.parse(form);

        $(".select2").select2({
            width: "100%",
            language: {
                noResults: function () {
                    return '@Html.Raw(Resource.NoResultsFound)';
                },
            }
        });

        $(".datetimepicker-input").datetimepicker({
            format: 'DD/MM/YYYY'
        });
    });

    function success_edit(data) {
        handle_success(data, SubmitPathType.RELOAD, "");
    }
</script>
