@model ErrorVM

@if (Model != null)
{
    if (Model.Status == ErrorStatus.SUCCESS)
    {
        <div class='callout callout-success'>
            <h5>
                @Model.Title!
            </h5>
            <p>
                @Html.Raw(Model.Description)
            </p>
        </div>
    }
    else if (Model.Status == ErrorStatus.WARNING)
    {
        <div class='callout callout-warning'>
            <h5>
                @Model.Title!
            </h5>
            <p>
                @Html.Raw(Model.Description)
            </p>
        </div>
    }
    else if (Model.Status == ErrorStatus.INFO)
    {
        <div class='callout callout-info'>
            <h5>
                @Model.Title!
            </h5>
            <p>
                @Html.Raw(Model.Description)
            </p>
        </div>
    }
    else if (Model.Status == ErrorStatus.ERROR)
    {
        <div class='callout callout-danger'>
            <h5>
                @Model.Title!
            </h5>
            <p>
                @Html.Raw(Model.Description)
            </p>
        </div>
    }
}
