@using HRMS.Models.Administration
@model AddRole
@inject IDDLRepository repo
@{
    UserModel user = (UserModel)ViewData["User"];
}

<div class="modal-header">
    <h5 class="modal-title">@string.Format(Resource.AddRoleFor, Model.Name)</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i aria-hidden="true" class="far fa-times-circle"></i>
    </button>
</div>

<form asp-action="_AddRole" asp-controller="Administration" id="frm_add_role" method="post" data-ajax="true" data-ajax-method="post" data-ajax-success="success_add_role" role="form">
    <div class="card-body">
        @Html.AntiForgeryToken()
        <input asp-for="UserId" type="hidden"/>

        <div class="row">
            <div class="col-md-6 form-group">
                <label asp-for="Role" class="required">@Resource.Role</label>
                <select asp-for="Role" asp-items="await repo.Roles(user.Language)" autocomplete="off" multiple class="form-control select2">
                    <option value="">@Resource.Choose</option>
                </select>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group">
                <label asp-for="Password" class="required">@Resource.Password</label>
                <input asp-for="Password" type="password" autocomplete="off" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>

    </div>
    <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-bold btn-pure btn-default" data-dismiss="modal">@Resource.Close</button>
        <button type="submit" class="btn btn-bold btn-pure btn-primary float-right">@Resource.Set</button>
    </div>
</form>

<script>
    $(document).ready(function() {
        var form = $('#frm_add_role');
        form.removeData('validator');
        form.removeData('unobtrusiveValidation');
        $.validator.unobtrusive.parse(form);

        $(".select2").select2({
            width: "100%",
            language: {
                noResults: function () {
                    return '@Html.Raw(Resource.NoResultsFound)';
                },
            }
        });
    });

    function success_add_role(data) {
        handle_success(data, SubmitPathType.RELOAD, "");
    }
</script>
