@using HRMS.Models.Administration
@model Edit
@inject IDDLRepository repo
@{
    UserModel user = (UserModel)ViewData["User"];
    ViewData["Title"] = Resource.User;

    var srcPath = string.IsNullOrEmpty(Model.ImagePath) ? "~/images/user-default.png" : Model.ImagePath;
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">@Resource.Edit</h3>
    </div>
    <div class="card-body">
        <form asp-action="Edit" asp-controller="Administration" id="frm_edit_user" enctype="multipart/form-data" method="post">
            @Html.AntiForgeryToken()
            <input asp-for="UserId" type="hidden" />

            <div class="form-group row">
                <div class="col-sm-12 d-flex justify-content-center align-items-center">
                    <div class="text-center">
                        <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="@Resource.UpdateImage">
                            <img id="img_upload"
                                src='@srcPath'
                                class="profile-user-img img-fluid img-circle"
                                alt="User profile picture"
                                style="cursor: pointer; object-fit: cover; height: 150px; width: 150px;">
                            <input type="file" asp-for="ProfileImage" class="d-none" />
                            <input type="hidden" name="profile_avatar_remove" />
                        </label>
                    </div>
                    <span asp-validation-for="ProfileImage" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <label asp-for="PersonalNumber" class="required"></label>
                    <input asp-for="PersonalNumber" class="form-control"/>
                    <span asp-validation-for="PersonalNumber" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Firstname" class="required"></label>
                    <input asp-for="Firstname" class="form-control"/>
                    <span asp-validation-for="Firstname" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Lastname" class="required"></label>
                    <input asp-for="Lastname" class="form-control"/>
                    <span asp-validation-for="Lastname" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Username" class="required"></label>
                    <input asp-for="Username" class="form-control"/>
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <label asp-for="Birthdate" class="required"></label>
                    <input asp-for="Birthdate" type="text" readonly="true" autocomplete="off" class="form-control datetimepicker-input" data-toggle="datetimepicker" data-target="#Birthdate"/>
                    <span asp-validation-for="Birthdate" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="PhoneNumber" class="required"></label>
                    <input asp-for="PhoneNumber" class="form-control" data-mask="" inputmode="text"/>
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Email" class="required"></label>
                    <input asp-for="Email" class="form-control"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="d-flex justify-content-end">
                <input type="submit" class="btn btn-primary" value="@Resource.Edit" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $.validator.setDefaults({ ignore: '' });
            var form = $('#frm_edit_user');
            form.removeData('validator');
            form.removeData('unobtrusiveValidation');
            $.validator.unobtrusive.parse(form);

            $('#PhoneNumber').inputmask("mask", {
                "mask": "+(999) 99 999-999",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });

            $(".select2").select2({
                width: "100%",
                language: {
                    noResults: function () {
                        return '@Html.Raw(Resource.NoResultsFound)';
                    },
                }
            });

            $("#Birthdate").datetimepicker({
                format: 'DD/MM/YYYY'
            });

            $("#ProfileImage").on('change', function() {
                read_image(this);
            });
        });

        function read_image(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#img_upload').prop('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            } else {
                $('#img_upload').prop('src', '~/images/user-default.png');
            }
        }
    </script>
}
