@using HRMS.Models.Administration.Role
@model CreateRole

<div class="modal-header">
    <h5 class="modal-title">@Resource.Edit</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i aria-hidden="true" class="far fa-times-circle"></i>
    </button>
</div>

<form asp-action="EditRole" asp-controller="Administration" id="frm_Edit" method="post" data-ajax="true" data-ajax-method="post" data-ajax-success="success_edit" role="form">
    <div class="card-body">
        @Html.AntiForgeryToken()
        <input asp-for="RoleIde" type="hidden" />

        <div class="row">
            <div class="col-md-6 form-group">
                <label asp-for="NameSQ" class="required">@Resource.NameSq</label>
                <input asp-for="NameSQ" class="form-control" />
                <span asp-validation-for="NameSQ" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group">
                <label asp-for="NameEN" class="required">@Resource.NameEn</label>
                <input asp-for="NameEN" class="form-control" />
                <span asp-validation-for="NameEN" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 form-group">
                <label asp-for="DescriptionSQ" class="required">@Resource.DescriptionSQ</label>
                <textarea asp-for="DescriptionSQ" spellcheck="false" rows="2" class="form-control"></textarea>
                <span asp-validation-for="DescriptionSQ" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group">
                <label asp-for="DescriptionEN" class="required">@Resource.DescriptionEN</label>
                <textarea asp-for="DescriptionEN" rows="2" class="form-control"></textarea>
                <span asp-validation-for="DescriptionEN" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-bold btn-pure btn-default" data-dismiss="modal">@Resource.Close</button>
        <button type="submit" class="btn btn-bold btn-pure btn-primary float-right">@Resource.Edit</button>
    </div>
</form>

<script>
    $(document).ready(function() {
        var form = $('#frm_Edit');
        form.removeData('validator');
        form.removeData('unobtrusiveValidation');
        $.validator.unobtrusive.parse(form);
    });

    function success_edit(data) {
        handle_success(data, SubmitPathType.RELOAD, "");
    }
</script>