@using HRMS.Models.Evaluation
@model IEnumerable<EvaluationList>

<div class="row mb-3">
    <div class="col-md-8">
        <h5 class="font-weight-bolder">@Resource.SearchResult</h5>
    </div>
</div>

<table id="tbl_students_staff_evaluation" class="table table-striped w-100 table-hover table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>@Resource.Title</th>
            <th>@Resource.Staff</th>
            <th>@Resource.Subject</th>
            <th>@Resource.NumberOfStudents</th>
            <th>@Resource.NumberOfQuestions</th>
            <th>@Resource.NumberOfAnswers</th>
            <th>@Resource.InsertedDate</th>
            <th>@Resource.StatusType</th>
            <th data-orderable="false">@Resource.Actions</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<script>
    $(document).ready(function() {
        render_students_staff_tbl(@Json.Serialize(Model));
    });

    function render_students_staff_tbl(data) {
        var rowCount = 1;
        var studentsStaff = "StudentsStaff";
        $('#tbl_students_staff_evaluation').DataTable({
            destroy: true,
            language: {
                url: `/Culture/DataTable/${culture}.json`
            },
            keys: true,
            responsive: true,
            pageLength: 15,
            data: data,
            deferRender: true,
            columnDefs: [
                { defaultContent: "///", targets: "_all" },
                { className: "w5 vertikal", targets: [0, 4, 5, 6, 9] },
                { className: "w10 vertikal", targets: [2, 3] },
                { className: "w15 vertikal", targets: [7, 8] },
                { className: "w20 vertikal", targets: [1] }
            ],
            order: [[0, "asc"]],
            columns: [
                {
                    data: function (data, type, row, meta) {
                        return meta.row + meta.settings._iDisplayStart + 1;
                    }
                },
                { data: "title" },
                { data: "staffName" },
                { data: "subject" },
                { data: "numberOfStudents" },
                { data: "statusType" },
                { data: "questions" },
                { data: "answers" },
                {
                    data: function (row, type, set) {
                        var date = new Date(Date.parse(row.insertedDate));
                        return `${date.getUTCDate()}/${date.getMonth() + 1}/${date.getFullYear()} ${date.getHours()}:${date.getMinutes()}`;
                    }
                },
                {
                    data: function (row, type, set) {
                        var dropdown = '<div class="input-group-prepend">' +
                            '<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">@Resource.Actions</button>' +
                            '<div class="dropdown-menu" role="menu">';
                        if (user_role === 'Manager' && !row.finished && !row.deleted) {
                            dropdown += '<button type="button" class="dropdown-item" onclick="edit_evaluation(\'' + row.evaluationIde + '\', \'' + studentsStaff + '\')"><span class="mr-1"><i class="fas fa-pen"></i></span><span class="p-1">@Resource.FillIn</span></button>' +
                                        '<button type="button" class="dropdown-item" onclick="delete_evaluation(\'' + row.evaluationIde + '\')"><span class="mr-1"><i class="fas fa-trash"></i></span><span class="p-1">@Resource.Delete</span></button>';
                        }
                        if (!row.deleted) {
                            dropdown += '<button type="button" class="dropdown-item" onclick="details_evaluation(\'' + row.evaluationIde + '\')"><span class="mr-1"><i class="fas fa-info-circle"></i></span><span class="p-1">@Resource.Details</span></button>' +
                                    '</div></div>';
                        }
                        return dropdown;
                    }
                }
            ]
        });
    }
</script>
