@{
    ViewData["Title"] = @Resource.Evaluation;
}

<div class="card">
    <div class="card-header">
        <div class="card-title">@Resource.ChooseEvaluationType</div>
    </div>
    <div class="card-body">
        <ul class="nav nav-pills nav-success row">
            @foreach(var evaluation in Enum.GetValues(typeof(EvaluationTypeEnum)).Cast<EvaluationTypeEnum>().Take(2))
            {
                <div class="nav-item d-flex flex-grow-1 flex-shrink-0 col-md-6 col-12" style="cursor: pointer;">
                    <a onclick="redirect_to(@((int)evaluation), this)"
                        class="nav-link slide-fwd-center nav-link py-10 d-flex flex-grow-1 rounded flex-column align-items-center border"
                        data-toggle="pill">
                        <span class="nav-icon py-2 w-auto"><i class="@GetIcon(evaluation) fa-4x"></i></span>
                        <span class="nav-text font-weight-bolder text-center font-size-h7 py-1">@GetText(evaluation)</span>
                    </a>
                </div>
            }
        </ul>
    </div>
</div>

@section Scripts {
    <script>
        function redirect_to(et, event) {
            if (EvaluationType.MANAGER == et) {
                window.location.href = '@Url.Action("Index", "EvaluationManager")';
            } else if (EvaluationType.STUDENT == et) {
                window.location.href = '@Url.Action("Index", "EvaluationStudents")';
            } else {
                window.location.reload();
            }
        }
    </script>
}

@functions {
    private string GetIcon(EvaluationTypeEnum et) =>
        et switch
        {
            EvaluationTypeEnum.Manager => "fas fa-user-tie",
            EvaluationTypeEnum.Student => "fas fa-user-graduate",
            _ => ""
        };

    private string GetText(EvaluationTypeEnum et) =>
        et switch
        {
            EvaluationTypeEnum.Manager => Resource.ManagerEvaluation,
            EvaluationTypeEnum.Student => Resource.StudentsEvaluation,
            _ => ""
        };
}
