@using HRMS.Models.Leave
@model Create
@inject IDDLRepository repo
@{
    UserModel user = (UserModel)ViewData["User"];
}

<div class="modal-header">
    <h5 class="modal-title">@Resource.AddLeave</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i aria-hidden="true" class="far fa-times-circle"></i>
    </button>
</div>

<form asp-action="Create" asp-controller="Leave" id="frm_create_leave" method="post" data-ajax="true" data-ajax-method="POST" data-ajax-success="success_create_leave" role="form">
    <div class="modal-body">
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-md-6 form-group">
                <label asp-for="ALeaveTypeId" class="required"></label>
                <select asp-for="ALeaveTypeId" asp-items="await repo.LeaveTypes(user.Language)" onchange="remaining_days()" class="form-control select2">
                    <option value="">@Resource.Choose</option>
                </select>
                <span asp-validation-for="ALeaveTypeId" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group" style="display: none;" id="kt_remaining_days">
                <label>@Resource.RemainingDays</label>
                <input id="days" type="text" disabled class="form-control"/>
            </div>
            <div class="col-md-6 form-group">
                <label asp-for="StartDate" class="required"></label>
                <div class="input-group date" id="kt_start_date">
                    <input asp-for="StartDate" type="text" onchange="remaining_day_start(this)" autocomplete="off" class="form-control datetimepicker-input" data-toggle="datetimepicker" data-target="#StartDate" style="cursor: default;"/>
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                    </div>
                </div>
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group">
                <label asp-for="EndDate" class="required"></label>
                <div class="input-group date" id="kt_end_date">
                    <input asp-for="EndDate" type="text" onchange="remaining_day_end(this)" autocomplete="off" class="form-control datetimepicker-input" data-toggle="datetimepicker" data-target="#EndDate" style="cursor: default;"/>
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                    </div>
                </div>
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="col-md-12 form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" rows="2" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-bold btn-pure btn-default" data-dismiss="modal">@Resource.Close</button>
        <button type="submit" id="btn_submit" class="btn btn-bold btn-pure btn-primary float-right">@Resource.Add</button>
    </div>
</form>

<script>
    $(document).ready(function () {
        var form = $('#frm_create_leave');
        form.removeData('validator');
        form.removeData('unobtrusiveValidation');
        $.validator.unobtrusive.parse(form);

        $(".select2").select2({
            width: "100%",
            language: {
                noResults: function () {
                    return '@Html.Raw(Resource.NoResultsFound)';
                },
            }
        });

        $(".datetimepicker-input").datetimepicker({
            locale: "'" + cultureShort + "'",
            format: 'DD/MM/YYYY',
            dayViewHeaderFormat: "MMMM YYYY",
            buttons: {
                showToday: true,
                showClear: true,
                showClose: true
            },
        });

        $("#ALeaveTypeId").on("change", function() {
            if ($(this).val() == LeaveType.UNPAID || $(this).val() == null ||  $(this).val() == "") {
                $('#kt_remaining_days').hide(250);
            } else {
                $('#kt_remaining_days').show(250);
            }
        });
    });

    function remaining_day_start(e) {
        $.get('@Url.Action("RemainingDays", "Leave")', {
            ltypeId: $('#ALeaveTypeId').val(),
            startDate: $(e).val(),
            endDate: $('#EndDate').val()
        }, function (data) {
            if (data < 0) {
                $('#days').css("color", "red");
            }
            $('#days').val(data);
        });
    }

    function remaining_day_end(e) {
        $.get('@Url.Action("RemainingDays", "Leave")', {
            ltypeId: $('#ALeaveTypeId').val(),
            startDate: $('#StartDate').val(),
            endDate: $(e).val()
        }, function (data) {
            if (data < 0) {
                $('#days').css("color", "red");
            }
            $('#days').val(data);
        });
    }

    function remaining_days() {
        $.get('@Url.Action("RemainingDays", "Leave")', {
            ltypeId: $('#ALeaveTypeId').val(),
            startDate: $('#StartDate').val(),
            endDate: $('#EndDate').val()
        }, function (data) {
            if (data < 0) {
                $('#days').css("color", "red");
            }
            $('#days').val(data);
        });
    }

    function success_create_leave(data) {
        handle_success(data, SubmitPathType.RELOAD, "");
    }
</script>
