@using HRMS.Areas.Evaluations.Models.StudentsCollege
@model QuestionVM
@{
    ViewData["Title"] = Resource.SecondStepEvaluation;
    Layout = "~/Areas/Evaluations/Views/StudentsCollege/_Layout.cshtml";

    UserModel user = (UserModel)ViewData["User"];
    var questions = Model.TotalQuestions == 0 ? Resource.NoQuestions + ". " : Resource.QuestionsLower + ". ";
}

<style>
    fieldset {
        border: 1px solid #6993ff;
        border-radius: 10px;
        position: relative;
    }

    legend {
        width: auto;
        font-size: 15px;
        font-weight: 600;
        padding: 0 6px;
        margin-left: 10px
    }

    .bottom-legend {
        position: absolute;
        bottom: 0;
        transform: translate(-75%, 70%);
        padding: 0 5px;
    }

    .custom-txt {
        border-top: 0px !important;
        border-left: 0px !important;
        border-right: 0px !important;
    }
</style>

<div class="flex-row-fluid">
    <div class="card" style="box-shadow: none !important;">
        <div class="card-header border-0">
            <div class="card-title align-items-start flex-column">
                <span class="text-muted mt-1 font-weight-bold font-size-sm">
                    @if (Model.TotalQuestions >= 1)
                    {
                        @Resource.Has <b class="text-primary">@Model.TotalQuestions </b>
                    }
                    @questions
                </span>
            </div>
            <div class="card-tools">
                <a onclick="add_question('@Model.EvaluationIde')" class="btn btn-primary float-right">@Resource.AddQuestion</a>
            </div>
        </div>
        <div class="card-body">
            <table id="tbl_numerical_questions" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>@Resource.Question</th>
                        <th data-orderable="false">0</th>
                        <th data-orderable="false">1</th>
                        <th data-orderable="false">2</th>
                        <th data-orderable="false">3</th>
                        <th data-orderable="false">4</th>
                        <th data-orderable="false">5</th>
                        <th data-orderable="false">@Resource.Actions</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    @* TODO: Later to integrate optional with topics. *@
    @*@if (Model.OptionalTopics.Any())
    {
        <hr/>
        <div class="card" style="box-shadow: none !important;">
            <div class="card-body">
                @foreach (var optional in Model.OptionalTopics)
                {
                    <fieldset class="mb-4 px-4 ml-0">
                        <legend>@optional.Question</legend>
                        @foreach (var option in optional.Answers)
                        {
                            <ul class="icheck-primary p-2" style="font-size: 14px;">
                                <input asp-for="@option.Answer" id="@option.TopicId" onchange="submit_optional_topic('@option.TopicIde')" type="text" style="form-control custom-txt"/>
                            </ul>
                        }
                    </fieldset>
                }
            </div>
        </div>
    }*@

    <div class="d-flex justify-content-between border-top">
        <input type="button" value="@Resource.Back" onclick="back_to_register('@Model.EvaluationIde')" class="btn btn-outline-primary font-weight-bolder text-uppercase mt-2"/>
        <input type="button" value="@Resource.Continue" onclick="continue_to_document('@Model.EvaluationIde')" class="btn btn-primary font-weight-bolder text-uppercase mt-2"/>
    </div>
</div>

@Html.AntiForgeryToken()

@section Scripts {
    <script>
        $(document).ready(function() {
            if (@((int)Model.Method) == MethodType.POST) {
                $('#tab1').attr({ href: '', style: 'cursor: default' });
                $('#tab2').attr({ href: '', style: '' });
                $('#tab3').attr({ href: '', style: 'cursor: default' });

                $('#trigger_documents_form').attr({ disabled: true });

                $('#icon_register').attr({ style: 'background-color: #43b25d' });
            } else {
                $('#tab1').attr({ href: '@Url.Action("Index", "Self")?ide=@Model.EvaluationIde', style: "cursor: pointer" });
                $('#tab2').attr({ href: '@Url.Action("Questions", "Self")?ide=@Model.EvaluationIde', style: "cursor: pointer" });
                $('#tab3').attr({ href: '@Url.Action("Documents", "Self")?ide=@Model.EvaluationIde', style: "cursor: pointer" });

                $('#icon_register').attr({ style: 'background-color: #43b25d' });
            }

            render_numerical_tbl(@Json.Serialize(Model.Numerals));
        });

        function render_numerical_tbl(data) {
            var rowCount = 1;
            $('#tbl_numerical_questions').DataTable({
                destroy: true,
                language: {
                    url: `/Culture/DataTable/${culture}.json`
                },
                keys: true,
                responsive: true,
                pageLength: 5,
                data: data,
                deferRender: true,
                columnDefs: [
                    { className: "w5 vertikal", targets: [0, 2, 3, 4, 5, 6, 7, 8] },
                    { className: "w30 vertikal", targets: [1] },
                ],
                order: [[0, "asc"]],
                columns: [
                    {
                        data: function (data, type, row, meta) {
                            rowCount++;
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    },
                    {
                        data: function(row, type, set) {
                            var desc = '///';
                            if (row.question != null) {
                                row.question = row.question.slice(-1) != "?" ? row.question + "?" : row.question;
                                if (row.question.length > 80) {
                                    desc = row.question.substring(0, 80) + '<span class="load-more" onclick="load_more(this)"><b>.. <a href="#' + rowCount + '">@Html.Raw(Resource.LookMore)</a></b></span><span class="d-none load-less-fst">' + row.question.substring(80) + '<span class="d-none load-less-snd" onclick="load_less(this)"><b> <a href="#' + rowCount + '">@Html.Raw(Resource.LookLess)</a></b></span></span>';
                                } else {
                                    desc = row.question ?? "///";
                                }
                            }
                            return desc;
                        }
                    },
                    {
                        data: function(row, type, set) {
                            return '<div class="clearfix" id="kt_checkbox">' +
                                '<div class="icheck-secondary d-inline"><input id="0' + row.numericalId + '" style="cursor: pointer;" type="radio" ' + (row.grade == 0 ? "checked" : "") + '/><label for="0' + row.numericalId + '" onclick="change_grade(\'' + row.evaluationQuestionnaireNumericalIde + '\', 0)"></label></div>' +
                                '</div>';
                        }
                    },
                    {
                        data: function(row, type, set) {
                            return '<div class="clearfix" id="kt_checkbox">' +
                                '<div class="icheck-danger d-inline"><input id="1' + row.numericalId + '" style="cursor: pointer;" type="radio" ' + (row.grade == 1 ? "checked" : "") + '/><label for="1' + row.numericalId + '" onclick="change_grade(\'' + row.evaluationQuestionnaireNumericalIde + '\', 1)"></label></div>' +
                                '</div>';
                        }
                    },
                    {
                        data: function(row, type, set) {
                            return '<div class="clearfix" id="kt_checkbox">' +
                                '<div class="icheck-orange d-inline"><input id="2' + row.numericalId + '" style="cursor: pointer;" type="radio" ' + (row.grade == 2 ? "checked" : "") + '/><label for="2' + row.numericalId + '" onclick="change_grade(\'' + row.evaluationQuestionnaireNumericalIde + '\', 2)"></label></div>' +
                                '</div>';
                        }
                    },
                    {
                        data: function(row, type, set) {
                            return '<div class="clearfix" id="kt_checkbox">' +
                                '<div class="icheck-warning d-inline"><input id="3' + row.numericalId + '" style="cursor: pointer;" type="radio" ' + (row.grade == 3 ? "checked" : "") + '/><label for="3' + row.numericalId + '" onclick="change_grade(\'' + row.evaluationQuestionnaireNumericalIde + '\', 3)"></label></div>' +
                                '</div>';
                        }
                    },
                    {
                        data: function(row, type, set) {
                            return '<div class="clearfix" id="kt_checkbox">' +
                                '<div class="icheck-info d-inline"><input id="4' + row.numericalId + '" style="cursor: pointer;" type="radio" ' + (row.grade == 4 ? "checked" : "") + '/><label for="4' + row.numericalId + '" onclick="change_grade(\'' + row.evaluationQuestionnaireNumericalIde + '\', 4)"></label></div>' +
                                '</div>';
                        }
                    },
                    {
                        data: function(row, type, set) {
                            return '<div class="clearfix" id="kt_checkbox">' +
                                '<div class="icheck-success d-inline"><input id="5' + row.numericalId + '" style="cursor: pointer;" type="radio" ' + (row.grade == 5 ? "checked" : "") + '/><label for="5' + row.numericalId + '" onclick="change_grade(\'' + row.evaluationQuestionnaireNumericalIde + '\', 5)"></label></div>' +
                                '</div>';
                        }
                    },
                    {
                        data: function (row, type, set) {
                            var dropdown = '<div class="input-group-prepend">' +
                                '<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">@Resource.Actions</button>' +
                                '<div class="dropdown-menu" role="menu">' +
                                '<button type="button" class="dropdown-item" onclick="edit_question(\'' + row.evaluationQuestionnaireNumericalIde + '\', \'' + QuestionType.NUMERICAL + '\')"><span class="mr-1"><i class="fas fa-pencil-alt"></i></span><span class="p-1">@Resource.Edit</span></button>' +
                                '<button type="button" class="dropdown-item" onclick="delete_question(\'' + row.evaluationQuestionnaireNumericalIde + '\', \'' + QuestionType.NUMERICAL + '\')"><span class="mr-1"><i class="fas fa-trash"></i></span><span class="p-1">@Resource.Delete</span></button>' +
                                '</div></div>';
                            return dropdown;
                        }
                    }
                ]
            });
        }

        function change_grade(ide, num) {
            $.post('@Url.Action("NumericalAnswer", "Self")', {
                ide: ide,
                num: num,
                __RequestVerificationToken: $("[name='__RequestVerificationToken']").val()
            }, function(data) {
                handle_success(data, SubmitPathType.RELOAD, "");
            });
        }

        function add_question(ide) {
            $('#modal-xl').find('.modal-content').load('@Url.Action("_AddQuestion", "StudentsCollege")?ide=' + ide, function () {
                $('#modal-xl').modal('toggle');
            });
        }

        function edit_question(ide, question_type) {
            $('#modal-xl').find('.modal-content').load('@Url.Action("_EditQuestion", "StudentsCollege")', {
                ide: ide,
                questionType: question_type
            }, function () {
                $('#modal-xl').modal('toggle');
            });
        }

        // TODO: Later to integrate optional with topics.
        @* function submit_optional_topic(ide) {
            $.post('@Url.Action("TopicAnswer", "StudentsCollege")?ide=?' + ide, function(data) {
                handle_success(data, SubmitPathType.NORELOAD, "");
            });
        } *@

        function delete_question(ide, question_type) {
            if(question_type === QuestionType.TOPIC) {
                $('#' + ide.replace("==", "")).val("");
            }

            Swal.fire({
                title: "@Html.Raw(Resource.AreYouSure)",
                text: "@Html.Raw(Resource.SureYouWantToDeleteQuestion)",
                icon: "question",
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: "@Resource.Yes",
                cancelButtonText: "@Resource.No"
            }).then((result) => {
                if (result.value) {
                    $.post('@Url.Action("DeleteQuestion", "StudentsCollege")', {
                        ide: ide,
                        questionType: question_type,
                        __RequestVerificationToken: $("[name='__RequestVerificationToken']").val()
                        }, function (data) {
                            handle_success(data, SubmitPathType.RELOAD, "");
                    });
                }
            });
        }

        function back_to_register(ide) {
            window.location.href = '@Url.Action("Index", "StudentsCollege")?ide=' + ide;
        }

        function continue_to_document(ide) {
            window.location.href = '@Url.Action("Documents", "StudentsCollege")?ide=' + ide;
        }
    </script>
}
